<!DOCTYPE html>
<html>
    <%- include('head')%>
  <body>
    <header>
      <h1>
        OH NOOOOOOOOOOOOOOOOOOOOOOO!
   </h1>
    </header>
    <main>
      <h4> There seem to be an issuse </h4>
      <img src="https://live.staticflickr.com/7564/16094702149_ecbd49d0bd_z.jpg" alt="cat">
    </main>
  </body>
</html>