<!DOCTYPE html>
<html>
    <head>
       <title> Simple To-Do List</title>
        <meta name="viewport" content="width=device-width, initial-scale= 1.0">
        <link rel= "stylesheet" href="/simple-to-do-list/styles/reset.css">
        <link rel ="stylesheet" href="/simple-to-do-list/styles/base.css">
        <link rel="stylesheet" href="/simple-to-do-list/styles/layout.css">
        <link rel="stylesheet" href="/simple-to-do-list/styles/module.css">
    </head>
   <body>
       <a href="/add-todo"><h3>Add New to Do</h3></a>
       <main></main>
   </body>
</html>