<!DOCTYPE html>
<html>
    <%- include('layout/head')%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <body>
    <header>
        <%- include('layout/header')
    </header>
       <main>
           <fieldset>
               <form>
                   <input type="text" placeholder="Add Tesk">
                   <button> Add to list </button>
               </form>
           </fieldset>

       </main>
   </body>
</html>