<!DOCTYPE html>
<html>
    <%- include('head') %>
   <body>
    <header>
    <h1>
        A Simple To-do list
   </h1>
    </header>
       <main>
           <fieldset>
               <form>
                   <input type="text" placeholder="Add Tesk" name="teskInput">
                   <button id="addTask"> Add to list </button>
               </form>
           </fieldset>
           <h4> My Tesks</h4>
           <div class="holdTesk">
            <ol id="teskList">
            </ol>
           </div>
       </main>
   </body>
</html>