<!DOCTYPE html>
<html>
    <%- include('layout/head') %>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
   <body>
    <header>
        <%- include('layout/header') %>
    </header>
       <main>
           <fieldset>
               <form>
                   <input type="text" placeholder="Add Tesk" id="teskInput">
                   <button id="addTask"> Add to list </button>
               </form>
           </fieldset>
           <h4> My Tesks</h4>
           <div class="holdTesk">
            <ul id="teskList">
            </ul>
           </div>
       </main>
       <script src="../todo.js"></script>
   </body>
</html>