body{
  display: flex;
  align-items: center;
  justify-content: center;
}

header{
  background-color: rgb(145, 255, 255);
  border-radius: 4em; 
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: .5em 1em;
  font-family: 'Mystery Quest', cursive;
}
h2{
  font-size: 5em;
  padding: .3em .5em;
}
button{
  font-family: 'Mystery Quest', cursive;
  font-size: 1em;
}
input{
  font-family:'Open Sans', sans-serif;
}
p{
  font-size: 1.3em;
}
fieldset{
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  padding-top: 1em;
}

li{
  background: rgb(188, 255, 121) ;
  font-family:'Open Sans', sans-serif;
  margin: .5em 2em;
  border-radius: 2em;
  padding: .5em 1.5em;
  list-style: none;
}
#deletetask{
  background:green;
  border-radius: .5em;
  margin-right: .5em;
  color:whitesmoke;
  font-family:'Open Sans', sans-serif;
 
}
#deletetask:hover{
  background:rgb(253, 45, 45) ;
}
