body{
  width: 50em;
  margin: 0 auto;
  text-align: center;
}

header{
  background-color: rgb(145, 255, 255);
  border-radius: 4em; 
  padding: .5em 1em;
  font-family: 'Mystery Quest', cursive;
}
h2{
  font-size: 5em;
  padding: .3em .5em;
}
button{
  font-family: 'Mystery Quest', cursive;
  font-size: 1.1em;
  border-radius:.5em;
}
input{
  font-family:'Open Sans', sans-serif;
  font-size: 1.1em;
}
p{
  font-size: 1.3em;
}
fieldset{
  background-color: rgb(222, 151, 255);
  margin:.5em auto ;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  border-radius: 2em;
  padding: 1em;
  max-width: 20em;
}
input{
  font-family:'Lato', sans-serif;
}
li{
  background: rgb(188, 255, 121) ;
  font-family:'Lato', sans-serif;
  margin: .5em 2em;
  text-align: left;
  border-radius: 2em;
  padding: .5em 1.5em;
  list-style: none;
}
.deletetask{
  background:rgb(5, 167, 5);
  border-radius: .5em;
  margin-right: .5em;
  color:whitesmoke;
  font-family:'Lato', sans-serif;
 
}
.deletetask:hover{
  background:rgb(253, 45, 45) ;
}
.deleteEverything:hover{
  font-family: 'Black Ops One', cursive;
  background:rgb(253, 45, 45) ;
}